
{% extends '::master.html.twig' %}

{% block title %}inicio{% endblock %}
{% block id 'inicio' %}
{% block article %}

<div><h1>esta es la pagina de editor</h1></div>

{% endblock %}
{% block aside %}{% endblock %}

