
{% extends '::master.html.twig' %}

{% block title %}registrar usuario{% endblock %}
{% block id 'registro' %}
{% block article %}

<div><h1>esta es la pagina para dar de alta usuarios</h1></div>

<form action="{{ path('registro') }}" method="post">
      
{{ form_widget(formulario) }}

<br>Rol
</br>

      <input type="checkbox" name="check[]" value="ROLE_ADMIN"> Admin <br>
      <input type="checkbox" name="check[]" value="ROLE_EDITOR"> Editor <br>
      <input type="checkbox" name="check[]" value="ROLE_JEFE"> Jefe <br>
      <input type="checkbox" name="check[]" value="ROLE_JEFENOTICIAS"> Jefe de noticias <br>
      <input type="checkbox" name="check[]" value="ROLE_DIRECTORNOTICIAS"> Director de noticias <br>
      <input type="checkbox" name="check[]" value="ROLE_CAPTURISTA"> Capturista <br>

<input class="boton" type="submit" value="Registrarme" />
</form>


{% endblock %}
{% block aside %}{% endblock %}

