<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header id="header">
           {% block header %}{% endblock %}
        </header>
        <article id="article">
           {% block article %}{% endblock %}
        </article>
        <aside>
           {% block aside %}{% endblock %}
        </aside>
        <footer id="footer">
           {% block footer %}{% endblock %}
        </footer>
    </body>
</html>
