<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body {% block id '' %}>
        <header>
           {# header #}
        </header>
        <article>
           {% block article %}{% endblock %}
        </article>
        <aside>
           {% block aside %}{% endblock %}
        </aside>
        <footer>
           {# footer#}
        </footer>

    </body>
</html>
