{% extends '::master.html.twig' %}

{% block title %}Login Noticias{% endblock %}
{% block stylesheets %}
	<link href="{{ asset('bundles/usuario/css/style.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header %}
		<div class="header">
			<div class="logo"></div>
			<div class="menu">{% extends 'NotaBundle:Default:menu.html.twig' %}</div>
		</div>
{% endblock %}

{% block article %}
	{% for avance in avances %}
		{{ avance.id }}
		<br/>
		{{ avance.titulo }}
		<br/>
		{{ avance.usuario.nombre }}
		<br/>
	{% endfor%}
{% endblock %}
