
{% extends '::master.html.twig' %}

{% block title %}admin{% endblock %}
{% block id 'inicio' %}
{% block article %}

<div><h1>esta es la pagina de administracion</h1></div>

{% endblock %}
{% block aside %}{% endblock %}

